<div class="container">
  
  <% if @over_ten %>
    <%= link_to '之前對話', '?m=all' %>
  <% end %>

<ul>
  <% @messages.each do |m| %>
  <li>
      <%= m.user.name %>
      <%= m.message_time %>
      <%= m.body %>
  </li>
  <% end %>
</ul>

  <%= form_for [@conversation, @message] do |f| %>
    <div class="field">
      <%= f.text_area :body, :class => "form-control" %>
    </div>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
      <%= f.submit "回覆", :class => "btn" %>
  <% end %>
</div>