<div class="container">
<h2>上傳最新作品</h2>
<%= form_for @shot, :url => user_shots_path(@user) do |f| %>
  
  <div class="form-group">
    <%= f.label :photo, "上傳照片" %>
    <%= f.file_field :photo %>
  </div>

  <div class="form-group">
    <%= f.label :tag_list, "標注照片" %>
    <%= f.text_field :tag_list, placeholder: "以 , 隔開每個標注" %>
  </div>

  <div class="form-group">
    <%= f.label :description, "作品簡介" %>
    <%= f.text_field :description %>
  </div>

  <%= f.submit '送出' %>
  <% end %>

  <%= link_to '取消', user_path(@user) %>

  </div>