<div class="container">
<div id="info">
<p><b><span id ="author">By <%=link_to @user.name, user_path(@user) %></span></b>  <span id="created_at"><%= @shot.created_at.strftime("%d %b. %Y") %></span></p>
</div>

<div id ="shot_wrapper">
  <div id="shot_self">
    <p><%= image_tag(@shot.photo.url(:large)) %></p>
    <p id="description"><%= @shot.description %></p>
  </div>

  <div id="shot_data">
    <p id="tag">標注： <%=sanitize tag_links(@shot.tag_list)%></p>
    <% if @shot.tag_user %>
    <p id="tag_user">人物標注： <%= t( @shot.tag_category, :scope => "shot_type" ) %> <%=link_to @shot.tag_user.name, user_path(@shot.tag_user_id) %></p>
     <% end %>
    <p id="category">分類： <%= t(@shot.shot_type, :scope => "shot_type" ) %></p>
    <p id ="visit">瀏覽數： <%= @shot.views_count %></p>
    <div id ="like">
      <% if current_user %>
        <%= render :partial => "likes/like", :locals => {:user => @user, :shot => @shot, :like => @like} %>
      <% end %>
    </div>
    <div id="more">
     <h2>最新作品</h2>
      <ul>
      <% @last_shots = @user.shots.last(3) %>
       <% @last_shots.each do |l| %>
          <% next if l == @shot %>
          <li><%= link_to image_tag(l.photo.url(:medium)), user_shot_path(@user, l) %></li>
       <% end %>
       </ul>
       <p> <%= link_to '看更多', user_path(@user) %></p>
    </div> 
  </div>
</div>
<div class="clearfix"></div>

  <div id="comment_wrapper">
    <h2>留言</h2>
    <%= form_for @comment, :url => user_shot_comments_path(@user, @shot) ,:remote => true do |f| %>
  
    <div class="form-group">
      <%= f.label :content, "留言內容" %>
      <%= f.text_area :content, :class => "content form-control" %>
    </div>

      <%= f.submit '送出留言', :class=>"btn comment_submit" %>
    <% end %>

    <table class="table" id="comment_table">
      <th>留言列表</th>

      <%= render :partial => "shot_comments/comment", :collection => @comments, :as => :c %>

    </table>

  </div>
</div>


