<div class="container">

<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= image_tag(@user.head.url(:medium)) %>
      <h1><%= @user.name %></h1>
      <span><%= link_to "view my profile", @user %></span>
      <span><b>作品數： </b> <%= @user.shots.count %></span>
    </section>
   <!--  <section>
      
      <%# if @users.any? %>
        <div class="user_avatars">
          <%# @users.each do |user| %>
            <%#= link_to image_tag(@user.head.url(:thumb)), user_path(@user) %>
          <%# end %>
        </div>
      <%# end %>
    </section> -->
  </aside>
  <div class="span8">
  <table class="table follow_table">
    <th> 收藏我的人 </th>
    <% if @users.any? %>
        <% @users.each do |u| %>
        <tr class="users">
        <% if u.head.exists? %>
         <td> <%= link_to image_tag(u.head.url(:thumb)), user_path(u) %></td>
        <% else %>
         <td> <%= link_to u.name, user_path(u) %></td>
        <% end %> 
        </tr>
       <% end %>
      
    <% end %>
    </table>
  </div>
</div>
</div>