<div class="container">
  
  <h1><%= @user.name %>作品集</h1>
  <% if @user.status == "公開" || @user == current_user %>

  <div id ="basic">
  <h2>基本資料</h2>
  <% if @user.head.exists? %>
    <p><%= image_tag(@user.head.url(:medium)) %></p>
  <% else %>
    <p><%= image_tag current_user.gravatar_url %></p>
  <% end %>
  <p>姓名/工作室名稱： <%= @user.name %></p>
  <!-- <p>暱稱： <%= @user.username %></p> -->
  <p>所在地： <%= @user.location %></p>
  <p>服務簡介： <%= simple_format @user.content %></p>
  <p><b>作品數： </b> <%= @user.shots.count %></p>
  <p><%= link_to '收藏我的人', followers_user_path(@user) %></p>
  <p><%= link_to '我收藏的人', following_user_path(@user) %></p>
  <div class="span8"><%= render 'follow_form' if current_user %></div>
  </div>

  <p>我的作品： </p>
     <div id="masonry-container" class="transitions-enabled"> 
     <% @user.shots.each do |s| %>
                <div class="box panel panel-default">
                <%=link_to  image_tag(s.photo.url(:medium)), user_shot_path(@user, s) %>
                 <% if @user == current_user || current_user.admin? %>
                   <p class="panel-body">
                   <%= link_to '編輯', edit_user_shot_path(@user, s) %>
                   <%= link_to '刪除', user_shot_path(@user, s), :method => :delete %>
                   </p>
                 <% end %>
                </div>        
     <% end %> 
     </div>
     <div class="clearfix"></div>
    </div> 
  <% else %>
  <h2>尚未公開</h2>
  <% end %>  
  </div>

     <% if @user == current_user %>
 <div class="container" id ="edit_basic">
  
  <p><%= link_to '上傳新作品', new_user_shot_path(@user) %></p>
  
  <div id ="edit_data">
  <h2>編輯基本資料</h2>
  <%= form_for @user, :url => user_path(@user) do |f| %>
    <div class="form-group">
      <%= f.label :name, '姓名/工作室名稱' %>
      <%= f.text_field :name, :class =>"form-control" %>
    </div>
    
   <!--  <div class="form-group">
      <%#= f.label :username, '暱稱（作品集短網址名稱）' %>
      <%#= f.text_field :username, :class=> "form-control" %> 
    </div> -->

    <div class="form-group">
      <%= f.label :location, '所在地' %>
      <%= f.text_field :location, :class=> "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :content, '服務簡介' %>
      <%= f.text_area :content, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :head, '上傳頭像' %>
      <%= f.file_field :head %>
    </div>

    <div class="form-group">
      <%= f.label :status, '作品集狀態' %>
      <%= f.select :status, ['公開','隱藏'] %>
    </div>

    <%= f.submit '更新基本資料' %>
  <% end %>
<% end %>
</div>
</div>