
 <script src="/fast-eager.js"></script>

<div class="page-wrap">
<div id ="banner" class="container-fluid">
  <p>Create <span>Y</span>our <span>E</span>xcellent <span>P</span>hotogra<span>P</span>h <span>O</span>nline</p>
</div>


<div class="container">
<h1 id ="logo">Yeppo</h1>

<div id="search">
  <%= search_form_for @search, :url => root_path do |f| %>
      <span><i class="glyphicon glyphicon-search"></i></span>
      <%= f.text_field :description_or_user_name_or_user_location_or_user_content_cont, :placeholder =>"內文/人名/地點" %>
    <%= f.submit "搜尋" %>
  <% end %>
   
  </div>
 
<div class="clearfix"></div>
</div>



<div id="masonry-container" class="transitions-enabled"> 

  <% @shots.order(created_at: :desc).each do |s| %>
   <div class="box panel panel-default"> <%=link_to  image_tag(s.photo.url(:medium)), user_shot_path(s.user, s) %>
   <p class="panel-body">
     <% if s.photographer? %>
       <span class="glyphicon glyphicon-camera"></span> 
     <% else %>
       <span class="glyphicon glyphicon-user"></span>
     <% end %>
     By <%=link_to s.user.name, user_path(s.user) %>   |   
     <span class="glyphicon glyphicon-heart" aria-hidden="true" id ="heart"> 
     </span><span>  <%= s.likes_count %></span>
   </p>
   
   </div>
 <% end %>
</div>
<div class="container" id ="pagenate">
 <%= paginate @shots %>
 </div>
</div>