<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Yeppo</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
<% if flash[:notice].present? %>
<p class="notice alert alert-success"><%= notice %></p>
<% end %>
<% if flash[:alert].present? %>
<p class ="alert alert-danger"><%= alert %></p>
<% end %>
 
 <div id = "session" >
 <% if current_user %>
   Hi, <span class="user-gravatar"><%= image_tag @user.head.url(:thumb) %></span><%=  current_user.name %>

   <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
   <%= link_to('修改密碼', edit_registration_path(:user)) %>
   
 <% else %>
    <%= link_to('註冊', new_registration_path(:user)) %> |
    <%= link_to('登入', new_session_path(:user)) %>
    
    <%= link_to "Facebook 登入", user_omniauth_authorize_path(:facebook) %>
 <% end %>
 </div>
 <div class="clearfix"></div>
 
</div>

<%= yield %>

</body>
</html>
