<!DOCTYPE html>
<html>
<head>
  <title>Yeppo</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
<% if flash[:notice].present? %>
<p class="notice alert alert-success"><%= notice %></p>
<% end %>
<% if flash[:alert].present? %>
<p class ="alert alert-danger"><%= alert %></p>
<% end %>

 <% if current_user %>
   Hi, <span class="user-gravatar"><%= image_tag @user.head.url(:thumb) %></span><%=  current_user.name %>
 <% end %>
 
 <%= link_to "Facebook 登入", user_omniauth_authorize_path(:facebook) %>
</div>

<%= yield %>

</body>
</html>
