<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Yeppo</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if flash[:notice].present? %>
<p class="notice alert alert-success"><%= notice %></p>
<% end %>
<% if flash[:alert].present? %>
<p class ="alert alert-danger"><%= alert %></p>
<% end %>

<div id="header">
  <div class="container">
  <div id="nav">
  <ul>
   <li><%= link_to 'Yeppo', root_path %></li>
   <li><span class="glyphicon glyphicon-camera"></span>
       <%= link_to '  攝影師作品', photographers_path(:order => params[:order]) %></li>
   <li><span class="glyphicon glyphicon-user"></span><%= link_to '  模特兒作品', models_path(:order => params[:order]) %></li>
  </ul>
  </div>
 <div id = "session" >
 <% if current_user %>
   Hi, <span class="user-gravatar">
   <% if current_user.head.exists? %>
    <p><%= image_tag(current_user.head.url(:thumb)) %></p>
  <% else %>
    <p><%= image_tag current_user.gravatar_url %></p>
  <% end %>
  </span><%=  current_user.name %> |
   
   <span id="my_profile"> <%= link_to '我的作品集', user_path(current_user) %></span> |
   
   <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
   <%= link_to('修改密碼', edit_registration_path(:user)) %>
   
 <% else %>

    <%= link_to('註冊', new_registration_path(:user)) %> |
    <%= link_to('登入', new_session_path(:user)) %>
    
    <%= link_to "Facebook 登入", user_omniauth_authorize_path(:facebook) %>
 <% end %>
 </div>
 <div class="clearfix"></div>
 </div>
</div>


<%= yield %>
<div class="container">
 <% if current_user && current_user.admin? %>
  <%= link_to '後台管理', admin_users_path %>
 <% end %>
</div>
</body>
</html>
